.product-list {
  color: #333;
  .table {
    padding: 5px;
    width: 100%;
    overflow-x: auto;

    .search {
      width: 100%;
      max-width: 300px;
    }

    .setSearch {
      font-size: 1.4rem;
      font-weight: bold;
      border: 2px solid black;
      max-width: 15rem;
      text-align: center;
      max-height: 8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      padding: 10px;
      cursor: pointer;
      transition: all 0.3s;
    }

    .setSearch:hover {
      background-color: #db4771;
      color: #fff;
    }

    table {
      border-collapse: collapse;
      width: 100%;
      font-size: 1.4rem;

      thead {
        border-top: 2px solid var(--light-blue);
        border-bottom: 2px solid var(--light-blue);
      }

      th {
        // border: 1px solid #eee;
        text-align: center;
      }

      th,
      td {
        vertical-align: top;
        text-align: center;
        padding: 8px;

        &.icons {
          display: flex;
          justify-content: center;
          align-items: center;
          > * {
            margin-right: 7px;
            cursor: pointer;
            vertical-align: middle;
            align-self: center;
          }
        }
      }

      tr {
        border-bottom: 1px solid #ccc;
      }

      tr:nth-child(even) {
        background-color: #fff;
      }
      tbody {
        tr:hover {
          cursor: pointer;
          background-color: rgba(31, 147, 255, 0.3);
        }
      }
    }
  }

  .bgw{
    background-color: #eee;
  }
}

