.product-detail {
  position: relative;
  margin-bottom: 5rem;
  width: 100%;
  max-width: 500px;
  
  .card {
    width: 100%;
    max-width: 500px;
    padding: 1rem;
  }
  .p-title{
    text-align: center;
  }
  .detail {
    & > * {
      margin-bottom: 1rem;
    }
    .badge {
      background-color: var(--color-danger);
      color: #fff;
      padding-left: 2px;
      padding-right: 2px;
      border-radius: 3px;
    }
    p b {
      color: var(--dark-blue);
    }
  }
}

.group {
  border: 1px solid var(--dark-blue);
  padding: 5px;
}

.image-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  flex-wrap: wrap;
}

.image-card img {
  max-width: 100%;
  max-height: 100%;
}

.edit {
  color: #fff;
  margin-top: 10px;
  display: block;
  background-color: green;
  width: fit-content;
  padding-inline: 5px;
  font-size: 20px;
  border-radius: 5px;
}

.spinner {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 3s ease;
  padding: 20px;
  text-align: center;
}

.spinner-visibility {
  visibility: hidden;
}


.preview-con {
  margin: 20px;
  display: flex;
  gap: 20px;
}